.catalog {
  .separator(top);
}

.catalog__wrapper {
  .wrapper();
}

.catalog__product {
  position: relative;
  padding-top: 11px;
  padding-bottom: 23px;
  font-weight: 400;
  .separator(top);

  &--more {
    display: block;
    text-align: center;
    .separator(bottom);
  }

  &--other {
    display: block;
    .separator(top);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__title {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @special-dark-grey;
  font-weight: 400;
  font-size: 16px;
  width: 100px;
  margin-left: 50%;
  text-align: left;
  margin-top: -130px;

  &--more {
    margin: auto;
    text-align: center;
    width: max-content;
  }

  &--other {
    margin-top: 0;
    width: max-content;
    margin-left: 0;
  }
}

.catalog__subtitle {
  font-size: 12px;
  font-family: @arial;
}

.catalog__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 50%;
  margin: 0;
}

.catalog__description {
  font-family: @arial;
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 16px 0 23px 50%;

  &--other {
    margin-left: 0;
  }
}

.catalog__value {
  text-align: right;
  margin: 0;
}

.catalog__gift {
  display: flex;
  align-items: flex-end;
  background: url("../img/photo-gift.jpg") no-repeat center;
  background-color: @green;
  min-height: 289px;
  background-size: 100%;
  object-fit: contain;
  margin: 20px -20px;
  padding: 0 60px 45px;
  position: relative;
}

.catalog__gift-text {
  color: @white;
  font-family: @arial;
  font-size: 16px;
  text-align: center;

  &::before {
    display: block;
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: -10px;
    .separator(top);
  }
}
