.example {
  background-color: @grey;

  @media (min-width: @tablet-width) {
    background-color: @white;
    background-image: linear-gradient(to bottom, @white 50%, @grey 50%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to bottom, @white 20%, @grey 20%);
  }
}

.example__wrapper {
  .wrapper(inner);
  .wrapper();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.example__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    gap: 42px;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    max-width: 430px;
  }
}

.example__description {
  .text();
  width: 100%;
}

.example__value {
  text-transform: uppercase;
  font-size: 24px;
  border: 1px solid @special-grey;
  text-align: center;
  min-width: 124px;
  min-height: 64px;
  padding: 15px 10px 10px;
  box-sizing: border-box;
}

.example__term {
  font-family: @arial;
  font-size: 12px;
  text-transform: lowercase;
  color: @dark-grey;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -20px;
  width: min-content;
  padding: 10px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey;
  }
}

.example__cost {
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  gap: 2px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 50%;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 0;
    margin-right: auto;
  }
}

.example__photo {
  min-width: 311px;
  min-height: 286px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    margin-right: -110px;
  }
}

.example__photo-before,
.example__photo-after {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example__photo-before {
  @media (min-width: @tablet-width) {
    object-fit: cover;
    object-position: -50px;
    max-width: 354px;
    height: 620px;
  }
}

.example__photo-after {
  @media (min-width: @tablet-width) {
    object-fit: cover;
    object-position: 100%;
    max-width: 354px;
    height: 620px;
  }
}
