.example {
  background-color: @grey;
}

.example__description {
  .text();
}

.example__value {
  text-transform: uppercase;
  font-size: 24px;
}

.example__term {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  color: @dark-grey;
}

.example__cost {
  text-transform: uppercase;
}
