.form__wrapper {
  .wrapper();
  .wrapper(inner);
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(inner);
  }
}

.form__wrapper-extra {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__wrapper-button {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  width: 274px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    width: 390px;
  }
}

.form__intro {
  .separator-section(-10px);

  @media (min-width: @tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 20px 0;

  &--parameters {
    @media (min-width: @desktop-width) {
      width: 50%;
    }
  }

  &--purpose {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .separator-section(-20px);
    margin-bottom: 50px;
    gap: 20px;

    @media (min-width: @tablet-width) {
      padding: 20px;

      &::after {
        display: none;
      }

      .separator(left);
      .separator(right);
      .separator(top);
      .separator(bottom);
    }

    @media (min-width: @desktop-width) {
      width: 50%;
      margin-left: 0;
      margin-top: 35px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
}

.form__contacts {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.form__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.form__row {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  margin-top: 13px;

  &--contacts {
    width: auto;

    @media (min-width: @desktop-width) {
      flex-grow: 1;
    }
  }
}

.form__label {
  text-transform: uppercase;
  font-size: 16px;
  color: @dark-grey;


  &--extra {
    padding: 10px;
    margin-left: 42px;
    cursor: pointer;

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      margin-top: -5px;
      margin-left: -50px;
      border: 1px solid @special-grey;
      cursor: pointer;
    }

    @media (min-width: @tablet-width) {
      width: 40%;
    }

    @media (min-width: @desktop-width) {
      width: auto;
    }
  }

  &--radio {
    margin-left: 42px;
    cursor: pointer;

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      margin-top: -5px;
      margin-left: -50px;
      border: 1px solid @special-grey;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.form__radio:checked + .form__label--radio::before {
  background-color: @green;
  box-shadow: inset 0 0 0 7px @white;
}

.form__checkbox:checked + .form__label--extra::before {
  background: url("/img/check.svg") no-repeat;
  background-position: 50% 50%;
}

.form__radio:disabled + .form__label--radio::before,
.form__checkbox:disabled + .form__label--extra::before {
  cursor: not-allowed;
}

.form__radio:disabled + .form__label--radio,
.form__checkbox:disabled + .form__label--extra {
  opacity: 0.3;
  cursor: not-allowed;
}

.form__radio:not(:disabled):hover + .form__label--radio::before,
.form__checkbox:not(:disabled):hover + .form__label--extra::before {
  border-color: @special-grey-3;
}

.form__textarea-wrapper {
  display: flex;
  flex-direction: column;
}

.form__text {
  text-transform: uppercase;
  padding: 13px 14px 15px;
  margin-left: 12px;
  border: 1px solid @basic-grey;
  border-radius: 0;
  font-family: "Oswald", "Arial", sans-serif;

  &--textarea {
    margin-left: 0;
    padding: 9px 12px;
  }

  &:hover {
    border-color: @special-grey;
  }

  &:focus {
    outline: none;
    border: 2px solid @dark-grey;
    border-radius: 0;
    padding: 12px 13px 14px;
  }

  &--email {
    background: url("/img/form-icon-email.svg") no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: center;

    @media (min-width: @tablet-width) {
      background-position-x: calc(100% - 20px);
    }
  }

  &--tel {
    background: url("/img/form-icon-tel.svg") no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: center;

    @media (min-width: @tablet-width) {
      background-position-x: calc(100% - 20px);
    }
  }
}

.form__note {
  font-family: @arial;

  @media (min-width: @tablet-width) {
    width: 40%;
  }
}

.form__error {
  border: 2px solid @red;
  padding: 12px 13px 14px;

  &:hover {
    border: 2px solid @red;
  }

  &:focus {
    border: 2px solid @red;
  }
}
