.intro {
  min-height: 302px;
  background-image: linear-gradient(to bottom, rgba(@green, 0.85) 302px, @white 302px), url("../img/intro.jpg"), linear-gradient(to right, @special-grey-left, @special-grey-right);
  background-color: @green;
  background-repeat: no-repeat;
  background-position: top center;
  color: @white;
  position: relative;
  padding-top: 23px;

  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: inherit;
    color: @black;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to right, @white 50%, rgba(@green, 0.85) 50%), url("../img/intro.jpg"), linear-gradient(to right, @special-grey-left, @special-grey-right);
    margin-top: -130px;
    padding-top: 130px;
    z-index: -1;
    background-position: 100%, 100%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/intro-product-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 270px;
    width: 280px;
    transform: translate(-50%);
    left: 50%;
    bottom: 50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-product-mobile@2x.png");
      background-size: 280px auto;
    }

    @media (min-width: @tablet-width) {
      position: relative;
      top: -10px;
      bottom: 0;
      z-index: -1;
      background-image: url("../img/intro-product-tablet.png");
      width: 709px;
      height: 609px;
      transform: translate(-50%);
      left: 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro-product-tablet@2x.png");
        background-size: 709px auto;
      }
    }

    @media (min-width: @desktop-width) {
      z-index: 1;
      transform: translate(-50%);
      left: 50%;
      background-image: url("../img/intro-product-desktop.png");
      width: 552px;
      height: 499px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro-product-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }
}

.intro__wrapper {
  .wrapper(inner);

  @media (min-width: @tablet-width) {
    .wrapper();
  }
}

.intro__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 29px auto;

  @media (min-width: @tablet-width) {
    text-align: left;
    .wrapper(intro);
  }
}
