.logo {
  text-decoration: none;
}

.logo-image {
  margin-bottom: -40px;
  margin-left: 20px;
}

.logo-text {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-text--header {
  display: block;
  margin: 10px auto 30px;
  margin-left: 120px;

  @media (min-width: @tablet-width) {
    display: inline;
    margin-bottom: -35px;
    margin-left: 20px;
  }
}

.logo--footer {
  margin-top: 39px;
  margin-bottom: 32px;
}
