.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .wrapper();
  .wrapper(inner);
  margin-top: 65px;
  .separator-section(0);

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    column-gap: 6px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    column-gap: 4px;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  font-weight: 500;
  height: 24px;
  font-size: 20px;
  margin-left: -280px;
  margin-right: -40px;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  .separator-section(20px);

  @media (min-width: @tablet-width) {
    border-top: none;
    font-weight: 400;
    width: max-content;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    font-size: 18px;

    &::after {
      display: none;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }

  &--intro {
    @media (min-width: @desktop-width) {
      color: @white;
    }
  }

  &--current {
    @media (min-width: @tablet-width) {
      border-bottom: @green solid 2px;
      padding-bottom: 8px;
    }
  }

  &--intro&--current {
    @media (min-width: @desktop-width) {
      border-bottom: @white solid 2px;
    }
  }
}

.main-nav__toggle {
  position: relative;
  top: 20px;
  right: -15px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: @white;
  cursor: pointer;
  border: none;
  margin-bottom: -24px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav .main-nav__toggle::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -9px);
  width: 24px;
  height: 1.5px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.main-nav .main-nav__toggle:active::before {
  background-color: fade(@black, 30%);
  box-shadow:
    0 8px 0 0 fade(@black, 30%),
    0 16px 0 0 fade(@black, 30%);
}

.main-nav--opened .main-nav__toggle:active::before {
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 25px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@black, 30%);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav .main-nav__link {
    display: none;
  }

  .main-nav--opened .main-nav__link {
    display: block;
  }
}
