
.options__wrapper {
  margin: 0 20px;
}

.options__item {
  background-color: @light-grey;
  background-repeat: no-repeat;
  background-position-x: 29px;
  background-position-y: 21px;
}

.options__item--slim {
  background-image: url("../../img/cat-slim.svg");
}

.options__item--pro {
  background-image: url("../../img/cat-pro.svg");
}

.options__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin-left: 91px;
  padding-top: 30px;
}

.options__description {
  font-family: "Arial", sans-serif;
  margin: 29px 33px 41px 20px;
}

.options__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  font-size: 16px;
}
