.options__wrapper {
  margin: 0 20px;
}

.options__item {
  background-color: @light-grey;
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 25px 0;
}

.options__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  background-repeat: no-repeat;
  padding: 13px 0 30px 91px;
  margin: 0;
  margin-left: -20px;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 50%;
    left: 22px;
    top: 23px;
    z-index: -1;
  }

  &--slim {
    background-image: url("../img/cat-slim.svg");
    background-position: 30px 0;
  }

  &--pro {
    background-image: url("../img/cat-pro.svg");
    background-position: 10px 15px;
  }
}

.options__description {
  font-family: "Arial", sans-serif;
}

.options__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  font-size: 16px;
}
