.social {
  .separator(top);
  .separator(bottom);
  padding-top: 21px;
  padding-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;

  @media (min-width: @tablet-width) {
    border: none;
    width: auto;
    column-gap: 23px;
    padding-left: 28px;
  }
}

.social__link {
  text-decoration: none;
  fill: @special-dark-grey;
  width: 23px;
  display: inline;
  text-align: center;
  vertical-align: middle;

  &:hover {
    fill: @green;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.social__link--facebook {
  fill: none;
  stroke: @special-dark-grey;


  &:hover {
    fill: none;
    stroke: @green;
  }
}

.social__link--vkontakte svg {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 35px;
  }
}

.social__link--instagram svg {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook svg {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 37px;
  }
}
