.subtitle {
  font-size: 24px;
  font-weight: 400;
  background-color: @white;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 181px;
  margin-left: -40px;

  @media (min-width: @tablet-width) {
    max-width: max-content;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 2px;
    background-color: @green;
    margin-top: 17px;
    z-index: -1;
  }
}
