.title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
  }

  &--index {
    text-align: center;
    max-width: 290px;
    margin: 2px auto 15px;

    @media (min-width: @tablet-width) {
      text-align: left;
      max-width: 450px;
      .wrapper(intro);
    }

    @media (min-width: @desktop-width) {
      max-width: 430px;
    }
  }

  &--example {
    @media (min-width: @desktop-width) {
      position: absolute;
      top: -135px;
    }
  }

  &--catalog {
    .separator-section (40px);
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: -1;
      margin-bottom: 24px;

      &::after {
        display: none;
      }
    }
  }
}
