.title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  &--index {
    text-align: center;
    width: 290px;
    margin: 0 auto 15px;

    @media (min-width: @tablet-width) {
      text-align: left;
      margin-left: 0;
    }
  }

  &--example {
    @media (min-width: @desktop-width) {
      width: 100%;
    }
  }
}
