.toggle {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @media (min-width: @tablet-width) {
    width: 500px;
  }
}

.toggle__button {
  width: 84px;
  height: 14px;
  border-style: none;
  border-radius: 6px;

  border: 1px solid @special-grey;
  background-color: @green;

  &--before {
    box-shadow: inset -37px 0 0 3px @white, inset 0 0 0 3px @white;
  }

  &--after {
    box-shadow: inset 37px 0 0 3px @white, inset 0 0 0 3px @white;
  }
}
