.wrapper() {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
  }
}

.text() {
  font-family: "Arial", sans-serif;
  color: @dark-grey;
}

.separator(@position) {
  border-@{position}: 1px solid @pale-grey;
}
