// Colors

@white: #FFFFFF;
@green: #68B738;
@light-grey: #F2F2F2;
@pale-grey: #D9D9D9;
@basic-grey: #E7E7E7;
@grey: #EAEAEA;
@dark-grey: #444444;
@special-dark-grey: #222222;
@special-grey: #CDCDCD;
@special-grey-left: #4f4e53;
@special-grey-right: #444448;
@light-black: #111111;
@black: #000000;

// Fonts

@arial: "Arial", sans-serif;

// Viewports

@mobile-width-only: 599px;
@tablet-width: 660px;
@desktop-width: 1300px;
